<% if(success.length){ %>
<div class="mb-3 alert alert-success" role="alert">
    <%= success %>
</div>
<% } %>

<% if(error.length){ %>
    <div class="mb-3 alert alert-danger" role="alert">
        <%= error %>
    </div>
<% } %>