<% layout('layouts/boilerplate')%>
<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading"><%= err.message %></h4>
    <p>Status Code : <%= err.statusCode %> </p>
    <hr>
    <p class="mb-0"><%= err.stack %></p>
  </div>