<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    <h1>Show page</h1><br>
    Title : <%= campground.title  %><br>
    Location : <%= campground.location %>
</body>
</html>