<% layout('layouts/boilerplate')%>

<h1>Rgister</h1>
<form action="/users/register" class="needs-validation" novalidate method="POST">
    <div class="mb-3">
        <label class="form-label" for="username">Username</label>
        <input class="form-control" type="text" id="username" name="username" required>
        <div class="valid-feedback">Looks Good</div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="email">Email</label>
        <input class="form-control" type="email" id="email" name="email" required>
        <div class="valid-feedback">Looks Good</div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="password">Password</label>
        <input class="form-control" type="password" id="password" name="password" required>
        <div class="valid-feedback">Looks Good</div>
    </div>
    <div class="mb-3">
        <button class="btn btn-success">Add Campground</button>
    </div>
</form>